<div class="site-container">
    <div id="loginContainer">
        <div id="loginTitle">Login with your icebox account</div>
        <div class="input-row">
            <img class="login-icons" src="../../assets/images/username.png" alt="Email Icon" /><input class="login-input" id="email" type="text" placeholder="Enter your email address" />
        </div>
        <div class="input-row">
            <img class="login-icons" src="../../assets/images/password.png" alt="Password Icon" /><input class="login-input" id="password" type="password" placeholder="Enter your password" />
        </div>
        <div id="forgotPasswordContainer">
            <a id="forgotPassword">Forgot Password?</a>
        </div>
        <button id="loginBtn">LOGIN</button>

        <!--<div id="googleLogin">Login with your google account</div>
        <div id="facebookLogin">Login with your facebook account</div>-->

        <div>
            <a id="newAccount">Create a new account</a>
        </div>
    </div>
</div>
